.git
.next
**/.next
dist
**/dist
node_modules
**/node_modules
coverage
**/coverage
.env
.env.*
**/.env
**/.env.*
!.env.example
*.log
*.tar
*.tar.gz
Dockerfile*
docker-compose*.yml
.turbo
**/.turbo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
